table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.table {
	max-width: 80%;
	margin: 0 auto;
}

.title {
	margin: 1em 0 1em 0;
	font-size: 2em;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
